MERCATOR_USER=
MERCATOR_PASS=
MERCATOR_URL=

VCENTER_USER_R=
VCENTER_PASS_R=
VCENTER_URL_R=

VCENTER_USER_I=
VCENTER_PASS_I=
VCENTER_URL_I=

XOA_TOKEN=
XOA_URL=

PROXMOX_USER=
PROXMOX_TOKEN=
PROXMOX_URL=

GRIST_API_TOKEN=
GRIST_DOC_ID=
