MERCATOR_USER=
MERCATOR_PASS=
MERCATOR_URL=

VCENTER_USER_1=
VCENTER_PASS_1=
VCENTER_URL_1=

VCENTER_USER_2=
VCENTER_PASS_2=
VCENTER_URL_2=

XOA_TOKEN=
XOA_URL=
XOA_USER=
XOA_PASS=

PROXMOX_USER=
PROXMOX_TOKEN=
PROXMOX_URL=

GRIST_API_TOKEN=
GRIST_DOC_ID=
