MERCATOR_USER=idk
MERCATOR_PASS=idk
MERCATOR_URL=idk

VCENTER_USER_R=midk
VCENTER_PASS_R=idk
VCENTER_URL_R=idk

VCENTER_USER_I=idk
VCENTER_PASS_I=idk
VCENTER_URL_I=idk

XOA_TOKEN=idk
XOA_URL=idk

PROXMOX_USER=idk
PROXMOX_TOKEN=idk
PROXMOX_URL=idk

GRIST_API_TOKEN=idk
GRIST_DOC_ID=idk
